.back-btn {
  position: absolute;
  right: 45px;
  bottom: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  background-color: transparent;
  border: none;
  color: #6285ff;
  font-family: 'Quicksand', sans-serif;
}

.back-btn h1 {
  text-transform: capitalize;
}

.back-btn:hover {
  color: #6284ff8e !important;
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  img[alt='back'] {
    width: 70px;
  }
  .back-btn {
    right: 20px;
    bottom: 5px;
  }
}
